{% extends "teststestBundle:Default:index.html.twig" %}

{% block title %}
Administrace
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ asset('web/bundles/teststest/css/parsley.css') }}">
<style>
    body {
        background: #ffeeb7;
    }
    .new-user {
        max-width: 640px;
        padding-bottom: 15px;
    }
    .new-psw {
        max-width: 350pt;
    }
</style>
{% endblock %}

{% block body %}
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('teststest_admin') }}">TESTY ONLINE</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <form class="navbar-form navbar-right">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-user"></span> 
                    {% if username is defined %}
                    {{username.name | capitalize}} {{username.surname | capitalize}}
                    {% endif %}
                    <span class="caret"></span>
                </button>
                {% if admin is defined %}
                <ul class="dropdown-menu" role="menu">
                    <li><a href="{{ path('teststest_admin') }}">Registrace <span class="pull-right glyphicon glyphicon-plus"></span></a></li>
                    <li><a href="{{ path('teststest_data') }}">Data <span class="pull-right glyphicon glyphicon-folder-open"></span></a></li>
                    <li><a href="{{ path('teststest_setting') }}">Nastavení <span class="pull-right glyphicon glyphicon-wrench"></span></a></li>
                    <li class="divider"></li>
                    <li><a href="{{ asset('web/bundles/teststest/help/admin-napoveda.pdf') }}" target="_blank">Nápověda <span class="pull-right glyphicon glyphicon-question-sign"></span></a></li>
                    <li><a href="{{ path('teststest_logout') }}">Odhlásit se <span class="pull-right glyphicon glyphicon-log-out"></span></a></li>
                </ul>
                {% else %}
                <ul class="dropdown-menu" role="menu">
                    <li><a href="{{ path('teststest_homepage') }}">Domů <span class="pull-right glyphicon glyphicon-home"></span></a></li>
                    <li><a href="{{ path('teststest_newTest') }}">Nový test <span class="pull-right glyphicon glyphicon-list-alt"></span></a></li>
                    <li><a href="{{ path('teststest_setting') }}">Nastavení <span class="pull-right glyphicon glyphicon-wrench"></span></a></li>
                    <li class="divider"></li>
                    <li><a href="{{ asset('web/bundles/teststest/help/ucitel-napoveda.pdf') }}" target="_blank">Nápověda <span class="pull-right glyphicon glyphicon-question-sign"></span></a></li>
                    <li><a href="{{ path('teststest_logout') }}">Odhlásit se <span class="pull-right glyphicon glyphicon-log-out"></span></a></li>
                </ul>
                {% endif %}
            </form>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <center>
        {% if error is defined %}
        <div class="alert alert-danger alert-dismissable new-user">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong>
                {{error}}
            </strong>
        </div>
        {% endif %}
        {% if message is defined %}
        <div class="alert alert-success alert-dismissable new-user">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong>
                {{message}}
            </strong>
        </div>
        {% endif %}
        <h1>Změnit heslo:</h1>
        <form class="new-psw" data-parsley-validate action="{{ path('teststest_setting') }}" method="post">
            <input class="form-control" name="oldPsw" id="oldPsw" type="password" placeholder="Staré heslo" required="required" data-parsley-trigger="change" data-parsley-minlength="8" data-toggle="tooltip" data-placement="right" title="Zadejte staré heslo">
            <input class="form-control" name="newPsw" id="newPsw" type="password" placeholder="Nové heslo" required="required" data-parsley-trigger="change" data-parsley-minlength="8" data-toggle="tooltip" data-placement="right" title="Zadejte nové heslo">
            <input class="form-control" name="verPsw" id="oldPsw" type="password" placeholder="Nové heslo znovu" required="required" data-parsley-trigger="change" data-parsley-minlength="8" data-parsley-equalto="#newPsw" data-toggle="tooltip" data-placement="right" title="Zadejte nové heslo znovu">
            <input type="submit" value="Změnit heslo" name="change" class="btn btn-warning form-control">
        </form>
    </center>
</div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="{{ asset('web/bundles/teststest/js/parsley.js') }}"></script>
<script>
    $(document).ready(function(){
        $('#oldPsw').focus(function(){
            $('#oldPsw').tooltip();
        });
        $('#newPsw').focus(function(){
            $('#newPsw').tooltip();
        });
        $('#verPsw').focus(function(){
            $('#verPsw').tooltip();
        });
        $(".alert").alert();
    });
</script>
{% endblock %}